<div>
  <div class='grid grid-cols-4'>
    <div class='bg-sky-500 p-6 rounded-lg'>First</div>
    <div class='bg-sky-400 p-6 rounded-lg'>Second</div>
    <div class='bg-sky-300 p-6 rounded-lg'>Third</div>
    <div class='bg-sky-200 p-6 rounded-lg'>Fourth</div>
  </div>
  <div class='grid grid-cols-4 gap-1'>
    <div class='bg-sky-500 p-6 rounded-lg'>First</div>
    <div class='bg-sky-400 p-6 rounded-lg'>Second</div>
    <div class='bg-sky-300 p-6 rounded-lg'>Third</div>
    <div class='bg-sky-200 p-6 rounded-lg'>Fourth</div>
  </div>
  <div class='grid grid-cols-3 gap-1'>
    <div class='bg-sky-500 p-6 rounded-lg'>First</div>
    <div class='bg-sky-400 p-6 rounded-lg'>Second</div>
    <div class='bg-sky-300 p-6 rounded-lg'>Third</div>
    <div class='bg-sky-200 p-6 rounded-lg'>Fourth</div>
  </div>
  <div class='grid lg:grid-cols-4 md:grid-cols-2 gap-1'>
    <div class='bg-sky-500 p-6 rounded-lg'>First</div>
    <div class='bg-sky-400 p-6 rounded-lg'>Second</div>
    <div class='bg-sky-300 p-6 rounded-lg'>Third</div>
    <div class='bg-sky-200 p-6 rounded-lg'>Fourth</div>
  </div>
  <div class='grid grid-cols-6 gap-1'>
    <div class='bg-sky-950 p-6 rounded-lg'>1</div>
    <div class='bg-sky-900 p-6 rounded-lg'>2</div>
    <div class='bg-sky-800 p-6 rounded-lg'>3</div>
    <div class='bg-sky-700 p-6 rounded-lg'>4</div>
    <div class='bg-sky-600 p-6 rounded-lg'>5</div>
    <div class='bg-sky-500 p-6 rounded-lg'>6</div>
    <div class='bg-sky-950 p-6 rounded-lg col-start-2'>1</div>
    <div class='bg-sky-900 p-6 rounded-lg col-span-2'>2</div>
    <div class='bg-sky-800 p-6 rounded-lg col-start-5 col-end-5'>3</div>
    <div class='bg-sky-700 p-6 rounded-lg col-start-1 col-span-2'>4</div>
    <div class='bg-sky-600 p-6 rounded-lg col-span-2'>5</div>
    <div class='bg-sky-500 p-6 rounded-lg col-span-2'>6</div>
  </div>
  <div class='grid grid-flow-col grid-rows-4'>
    <div class='bg-red-500 p-6 rounded-lg'>First</div>
    <div class='bg-red-400 p-6 rounded-lg'>Second</div>
    <div class='bg-red-300 p-6 rounded-lg'>Third</div>
    <div class='bg-red-200 p-6 rounded-lg'>Fourth</div>
    <div class='bg-red-500 p-6 rounded-lg'>Fifth</div>
    <div class='bg-red-400 p-6 rounded-lg'>Sixth</div>
  </div>

</div>
