<div>
  <h1 class="font-bold text-4xl text-green-600 border-4 border-green-600">Green</h1>
  <h1 class="font-bold text-4xl text-terracota border-4 border-terracota">Terracota</h1>
  <h1 class="text-sm lg:text-4xl">Variable text size as function of screensize</h1>
  <h1 class="bg-[#bada55]">Arbitrary value for color</h1>
  <button class="btn-primary">Button</button>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
