<div class="md:columns-1 lg:columns-2">
  <img class="float-left w-64 p-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/ESO-VLT-Laser-phot-33a-07.jpg/1200px-ESO-VLT-Laser-phot-33a-07.jpg" alt=""/>
  <p>
  The Milky Way[c] is the galaxy that includes the Solar System, with the name describing the galaxy's appearance from Earth: a hazy band of light seen in the night sky formed from stars that cannot be individually distinguished by the naked eye. The term Milky Way is a translation of the Latin via lactea, from the Greek γαλακτικὸς κύκλος (galaktikòs kýklos), meaning "milky circle".[26][27] From Earth, the Milky Way appears as a band because its disk-shaped structure is viewed from within.
  </p>
  <img class="float-left w-64 p-2" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/M31_09-01-2011_%28cropped%29.jpg" alt=""/>
  <p>
    The Andromeda Galaxy is a barred spiral galaxy and is the nearest major galaxy to the Milky Way, where the Solar System resides. It was originally named the Andromeda Nebula and is cataloged as Messier 31, M31, and NGC 224. Andromeda has a diameter of about 46.56 kiloparsecs (152,000 light-years)[8] and is approximately 765 kpc (2.5 million light-years) from Earth. The galaxy's name stems from the area of Earth's sky in which it appears, the constellation of Andromeda, which itself is named after the princess who was the wife of Perseus in Greek mythology.
  </p>
</div>
<div class="columns-1">
  <img class="w-64 p-2 float-left" src="https://upload.wikimedia.org/wikipedia/commons/0/07/Messier_87_Hubble_WikiSky.jpg" alt=""/>
  <img class="w-64 p-2 float-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Messier83_-_Heic1403a.jpg/1200px-Messier83_-_Heic1403a.jpg" alt=""/>
  <p class="clear-right">
    Messier 83 or M83, also known as the Southern Pinwheel Galaxy and NGC 5236, is a barred spiral galaxy[7] approximately 15 million light-years away in the constellation borders of Hydra and Centaurus. Nicolas-Louis de Lacaille discovered M83 on 23 February 1752 at the Cape of Good Hope.[8] Charles Messier added it to his catalogue of nebulous objects (now known as the Messier Catalogue) in March 1781.[8]
  </p>
</div>
<div class="relative w-32 h-32 p-8 bg-red-500 rounded-lg">
  <div class="absolute top-0 left-0 inset-2 w-24 h-24 bg-green-500 rounded-lg">
  </div>
</div>
